<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Página 2</ion-title>
    <ion-icon slot="end" name="person-circle" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Iconos en Ionic</h1>
  </ion-text>
  <ion-text color="primary">
    <p>Iconos</p>
  </ion-text>
  <ion-list>
    <ion-icon name="logo-github"></ion-icon>
  </ion-list>

</ion-content>
